{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
    <title>Bejelentkezés</title>
</head>
<body>
    <div class="container">
        <header class="grid-item">
            <h1>Feladat választós applikáció</h1>
        </header>
        <main class="doboz">
            {% if form.errors %}
                <p class="error">A felhasználó név vagy a jelszó nem megfelelő. Próbáld újra!</p>
            {% endif %}
    
            {% if next %}
                {% if user.is_authenticated %}
                <p class="error">A fiókod nincs regisztrálva az oldalon.</p>
                {% else %}
                <p>Jelentkezz be, hogy lásd az oldalt!</p>
                {% endif %}
            {% endif %}
    
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="login">
                <tr>
                    <td>Felhasználónév: </td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Jelszó: </td>
                    <td>{{ form.password }}</td>
                </tr>
                </table>
                <input class="gomb" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </main>
        <footer class="grid-item">
            Készítette: Sakraf Sökü
        </footer>
    </div>
    
    

</body>
</html>