{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
    <script src="{% static 'script.js' %}"></script>

    <title>Új diákok regisztrációja</title>
</head>
<body>
    <div class="container">
        <header class="grid-item"><h1>Új diak(ok) regisztrációja</h1></header>
        <main class="doboz">
            <form  method="POST">
                {% csrf_token %}
                <div>Ide írja be a diákok nevét és jelszavát:</div>
                <div class="error">{{hiba}}</div>
                <textarea name="adatok" id="cella" cols="30" rows="10" placeholder="Füty Imre,jelszo123"></textarea>
                <br>
                <button class="gomb" type="submit">Regisztráció</button>
            </form>
        </main>
        <footer class="grid-item">Készítette: Sakraf Sökü</footer>   
    </div>
</body>
</html>