{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} ">
    <title>Bejelentkezés</title>
</head>
<body>
    <header>Bejelentkezés</header>
    <main>
        <form method="POST">
            {% csrf_token %}
            <div>{{hiba}}</div>
            Teljes neved: <input type="text" name="nev">
            <br>
            Jelszavad: <input type="password" name="jelszo">
            <br>
            <button type="submit">Belépés</button>
        </form>
    </main>
    <footer>by me</footer>
</body>
</html>